<div style="display: flex; align-items: flex-start;">
  <img src="../assets/icon.png" alt="VBMesh Logo" style="height: 9em; margin-left: 2em; margin-right: 1em;">
  <pre class="ascii-header" style="flex: 1; margin-top:0;">
 ___      ___  ________   _____ ______    _______    ________   ___  ___        ________    _______   _________   
|\  \    /  /||\   __  \ |\   _ \  _   \ |\  ___ \  |\   ____\ |\  \|\  \      |\   ___  \ |\  ___ \ |\___   ___\ 
\ \  \  /  / /\ \  \|\ /_\ \  \\\__\ \  \\ \   __/| \ \  \___|_\ \  \\\  \     \ \  \\ \  \\ \   __/|\|___ \  \_| 
 \ \  \/  / /  \ \   __  \\ \  \\|__| \  \\ \  \_|/__\ \_____  \\ \   __  \     \ \  \\ \  \\ \  \_|/__   \ \  \  
  \ \    / /    \ \  \|\  \\ \  \    \ \  \\ \  \_|\ \\|____|\  \\ \  \ \  \  ___\ \  \\ \  \\ \  \_|\ \   \ \  \ 
   \ \__/ /      \ \_______\\ \__\    \ \__\\ \_______\ ____\_\  \\ \__\ \__\|\__\\ \__\\ \__\\ \_______\   \ \__\
    \|__|/        \|_______| \|__|     \|__| \|_______||\_________\\|__|\|__|\|__| \|__| \|__| \|_______|    \|__|
                                                       \|_________|                                               
  </pre>
</div>
<h1 style="text-align:left; margin-left:1em;">VBMesh.net</h1>